In [3]:
import pandas as pd
import numpy as np
import tweepy
import csv
import requests
import time

In [5]:
client = tweepy.Client(bearer_token = 'Your bearer token here')

In [7]:
searchTerm = '#TheLastOfUs -has:media -is:retweet lang:en'

In [ ]:
# attachments, author_id, context_annotations, conversation_id, created_at, edit_controls, entities, geo, id, in_reply_to_user_id, lang, non_public_metrics, public_metrics, organic_metrics, promoted_metrics, possibly_sensitive, referenced_tweets, reply_settings, source, text, withheld

In [86]:
tweets = tweepy.Paginator(client.search_recent_tweets, query=searchTerm,
                          tweet_fields = ['author_id', 'created_at'], 
                          user_fields= 'username', expansions=['author_id', 'referenced_tweets.id'],
                          max_results=100).flatten(limit=1000)

In [87]:
columns = ['id', 'Tweet', 'Created_at']

In [88]:
data = []
for tweet in tweets:
    data.append([tweet.author_id, tweet.text, tweet.created_at])

In [89]:
df = pd.DataFrame(data, columns = columns)

In [94]:
df.head(10)

,id,Tweet,Created_at
0,20548681,I don't know what episode 3 of #TheLastOfUs di...,2023-02-04 19:03:13+00:00
1,1928986668,Our dynamic duo #TheLastOfUs https://t.co/iArK...,2023-02-04 19:02:37+00:00
2,214964526,ðŸ¤¢.. straight up #TheLastOfUs https://t.co/5Isx...,2023-02-04 19:01:58+00:00
3,1115840968337567744,#TheLastofUs Episode 4 Cast #PedroPascal\n#Bel...,2023-02-04 19:01:49+00:00
4,1928986668,@TheLastofUsHBO Canâ€™t wait for what theyâ€™ll br...,2023-02-04 19:01:36+00:00
5,1928986668,@HBO What you say goes #TheLastOfUs,2023-02-04 19:00:23+00:00
6,1572526349503299585,With #TheLastOfUS taking the world by storm re...,2023-02-04 19:00:17+00:00
7,1624759417,the moment you realize youâ€™ve been watching po...,2023-02-04 19:00:03+00:00
8,3873362656,This turned out a lot better than we thought ðŸ˜…...,2023-02-04 19:00:01+00:00
9,2849182664,-Seeing two people serve one another and love ...,2023-02-04 18:59:21+00:00

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   Tweet       1000 non-null   object
 2   Created_at  1000 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(1)
memory usage: 23.6+ KB

In [95]:
df.to_csv('tweetsData.csv', index=False)